<!DOCTYPE html>
<html>

<head>
     <!-- <base href="http://localhost:6969/"> -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title><% title %></title>     
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/stylesheets/cssMenu.css' />
     <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
</head>

<body ng-app="TTYT">
     <nav class="navbar navbar-default navbar-fixed-top" ng-controller="check_login">

          <div class="container-fluid">

               <div class="navbar-header">
                    <img src="../images/logo.png" alt="" style="width: 50px;">
                    <a href="/home" style="text-decoration: none" id="home" class="menu"> <span>TTYT Chợ Gạo</span> </a>
               </div>

               <ul class="nav navbar-nav">
                    <li><a style="padding-left: 9px; padding-right: 1px; font-size: x-large;">|</a></li>
                    <li class="dropdown menu">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sổ chuyển viện
                              <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                              <li><a href="/chuyenvien/nhapsoCV">Vào sổ chuyển viện</a></li>
                              <li><a href="/chuyenvien/lichsuCV">Lịch sử chuyển viện</a></li>
                         </ul>
                    </li>
                    <li class="dropdown menu">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              Báo cáo giao ban
                              <span class="caret"></span>
                         </a>
                         <ul class="dropdown-menu">
                              <li><a href="#">Báo giao ban sáng</a></li>
                              <li><a href="#">Báo giao ban tối</a></li>
                         </ul>
                    </li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="#"><i class="fas fa-user"></i><%= user %></a></li>
                    <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
               </ul>
          </div>
     </nav>
     <div class="container">
          
          <div class="row" ng-view>
              
               
          </div>
          
     </div>

</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/5c82603684.js" crossorigin="anonymous"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/angular-route.js"></script>
<script src="/javascripts/main.js"></script>
</html>